<% provide(:title) %>
<div class="center jumbotron full_hero hero_home">
  <h1>Auto Agent</h1>
  <h4>- Touring, simplified - </h4>
</div>
<div class="center">

  <%= link_to "Sign Up", login_path,
              class: "btn btn-large btn-block btn-primary light_green" %>
</div>
