<% provide(:title, "Artists") %>
<h1>Artists</h1>

<div class="row">
  <div class="col-md-8 artist-list">
    <ul>
      <% @artists.each do |artist| %>
      <li>
        <%= album_for artist %>
        <%= link_to artist.name, artist_path(artist) %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
