<% provide(:title, @artist.name) %>
<h1><%= @artist.name %></h1>
<h4 class="center">
  <%= cap_first_letter @hubspot_shows.count.humanize %> upcoming
  <%= "engagement".pluralize(@hubspot_shows.count) %>
</h4>

<div>
  <%= render partial: "shows/hubspot_show",
             collection: @hubspot_shows, as: :deal %>
</div>
