<% provide(:title, @user.name) %>

<% if current_user.admin %>
  <%= render 'admin_user_show' %>

<% elsif @user == current_user %>

    <div class="artist_list">
      <h1>Assigned Artists</h1>
      <% @assigned_artists.each do |artist| %>
        <li><%= link_to artist.name, artist %></li>
      <% end %>
    </div>

  <% end %>
