// Place all the styles related to the Agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

/* Agents */
.agent_list {
  display: block;
  margin-top: 2em;
  border-top: 2px solid $gray-medium-light;
  list-style: none;
  li {
    border-bottom:  1px solid $gray-medium-light;
    overflow: auto;
    padding: 10px 0;
  }
}
