$custom-yellow: #E1AB6A;

.full_hero {
  background-color: #c7dbfc;
  background-size: cover;
  box-sizing: border-box;
  color: white;
  font-family: 'Raleway', helvetica, sans;
  height: 75vh;
  margin: 1vh 0 2vh;
  padding-top: 5vh;
  text-transform: uppercase;
}

.hero_home {
  background-position: center top;
  background-image: url('edwin-andrade-158050')
}

.test_hero {
  background-color: #c7dbfc;
  background-size: cover;
  box-sizing: border-box;
  color: white;
  text-transform: uppercase;
  font-family: 'Raleway', helvetica, sans;

}

.test_div {
  padding: 2em;
}
.green {
  color: green;
}

.yellow {
  color: yellow;
}
.red {
  color: red;
}

.test_home {
  align-items: center;
  background-image: url('bugs');
  background-position: center top;
  border: px solid black;
  display: flex;
  height: 80vh;
  justify-content: center;
}

.cal_wrapper {
  margin: 10px 0;
  border: 2px solid black;
  padding: 0 1em;
}

/* Homepage */

.homepage-body-style {
  padding: 0;
  margin: 0;
}

.homepage {
  background-color: #c7dbfc;
  background-size: cover;
  box-sizing: border-box;
  color: white;
  font-family: 'Raleway', helvetica, sans;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $custom-yellow;
      text-decoration: none;
    }
  }
  h1 {
    display: block;
    margin: 0;
    padding-top: 14%;
    text-transform: uppercase;
  }
  h4 {
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
}


.home-image {
  background-position: center top;
  background-image: url('edwin-andrade-158050')
}

.homepage-links {
  display: block;
  align-items: center;

}

.login-backdrop {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1% 14%;
  font-family: 'Raleway', helvetica, sans;
  a {
    &:hover {
      color: $custom-yellow;
      text-decoration: none;
    }
  }
}

.homepage-links {
  text-align: right;
  padding: 2% 30px 0 0;
  text-transform: uppercase;
  span {
    display: inline-block;
    padding: 0 1%;
  }
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  input {
    margin: 4%;
  }
}
