@import "bootstrap-sprockets";
@import "bootstrap";

$custom-yellow: #E1AB6A;
$app-grey: #F8F8F8;

.users-wrapper {
  h3 {
    margin-bottom: 20px;
  }
  li {
    &:hover {
      a {
        color: $custom-yellow;
        font-size: 1.1em;
      }
    }
  }
}
